@import '../../styles/media-queries.css';
@import '../../styles/btn.css';


.aboveTheFold {
  height: calc(70vh);
  min-height: 600px;
  background-image: radial-gradient(circle at 18% 45%, #192029, #363c44 82%);
}

.heading {
  font-size: 20px;
  font-family: p22-underground, sans-serif;
  line-height: 1.78;
  color: #efefef;
  font-weight: 100;
  margin-bottom: 35px;
  max-width: 656px;
}

.tagline {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 62px;
  font-weight: 300;
  line-height: 1.13;
  letter-spacing: -1.2px;
  color: #ae8b50;
  max-width: 600px;
  margin-bottom: 20px;
  padding-top: 70px;

}

.bgImg {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
