@import '../../styles/media-queries.css';
@import '../../styles/vars.css';
@import './../../styles/btn.css';

.shop {
  background: url('./../../images/smokey-img.jpg');
  background-position: right top;
  background-size: 52%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.box{
  padding: 30px 0 75px 0;
}

.shopCopy {
  font-size: 18px;
  max-width: 650px;
}

.link {
  color: #ca9b46;
  display: inline-block;
  border-bottom: 1px solid #ca9b46;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 20px;
}
