@import '../styles/media-queries.css';
@import '../styles/vars.css';
@import './../styles/btn.css';

.box{
  text-align: center;
  @media (--media-max-medium) {
    margin: 40px 0;
  }
}
.title{

  @nest & .h2headline{
    font-size: 34px;

    @nest & .h2heading{
      transform: translate(-50%, -50%);
      left: 50%;
      @media (--media-max-small) {
        width: 100%;
        font-size: 22px;
      }
    }
  }
}

.text{
  max-width: 650px;
  margin: 0 auto 40px;
  line-height: 1.65;
}

