@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  margin-top: -200px;
  @nest & h1 {
    font-size: 50px;
    @media (--media-max-medium) {
      font-size: 24px;
    }
  }
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  @media (--media-max-medium) {
    padding-top: 170px;
  }
}

.blogContainer {
  padding-bottom: 60px;
  @nest & section {
    background: none;
    padding: 0;
    @nest & > div {
      padding: 0;
    }
  }

}

.mainImage {
  position: relative;
  background: #eee;
  padding-bottom: calc(9 / 16 * 40%);
  /* max-height: 300px; */
  overflow: hidden;
  @media (--media-max-small) {
    padding-bottom: 270px;
  }
  @nest &:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(27,32,39,0.45);
  }
  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    filter: blur(2px) saturate(0);
  }
}

.mainContent {
  min-height: 300px;
  max-width: 800px;
  padding-bottom: 50px;
  @nest & p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    @nest & strong {
      color: var(--color-accent);
    }
  }
  @nest & a {
    color: var(--color-accent);
    text-decoration: underline;

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }
  @nest & strong {
    font-weight: 900;
  }
  @nest & em {
    font-style: italic;
  }
  @nest & h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: var(--font-secondary);
    color: var(--color-accent);
  }
  @nest & h3 {
    margin-top: 15px;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
  }
  @nest & h4 {
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
    color: var(--color-accent);
    font-weight: bold;
  }
  @nest & ul {
    list-style: disc;
    margin-left: 16px;
  }
  @nest & li {
    margin-bottom: 10px;
    line-height: 1.3;
  }
  @nest & figure {
    max-width: 600px;
    position: relative;
  }
  @nest & figcaption {
    color: #ae8b50;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding: 6px 10px;
    background: rgba(27,32,39,.6);
    margin: 0;
  }
  @nest & img {
    max-width: 100%;
    display: block;
  }
  @nest & blockquote {
    font-size: 25px;
    line-height: 1.35;
    border-left: 4px solid var(--color-accent);
    padding-left: 17px;
    margin: 55px 22px;
    display: block;
  }
}

.metaContent {
}

.publishedAt {
  composes: small from './typography.module.css';
  margin: 1.5rem 0 3rem;
}

.categories {
  border-top: 1px solid var(--color-black);
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  composes: base from './typography.module.css';
  margin: 0.5rem 0 0;
}

.relatedProjects {
  border-top: 1px solid var(--color-black);
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0.25rem 0;
  }
}

.relatedProjectsHeadline {
  composes: base from './typography.module.css';
  margin: 0.5rem 0 0;
}
