@import '../styles/media-queries.css';

:root {
  --base-unit: 17;

  /* Font sizes */
  --font-micro-size: calc(8 / var(--base-unit) * 1rem);
  --font-micro-line-height: 1;
  --font-small-size: calc(14 / var(--base-unit) * 1rem);
  --font-small-line-height: calc(18 / 14);

  --font-base-size: calc(20 / var(--base-unit) * 1rem);
  --font-base-line-height: calc(30 / 20);

  --font-large-size: calc(19 / var(--base-unit) * 1rem);
  --font-large-line-height: calc(24 / 19);

  --font-headline2-size: calc(42 / var(--base-unit) * 1rem);
  --font-headline2-line-height: calc(48 / 42);

  --font-gridSubTitle-size: calc(18 / var(--base-unit) * 1rem);
  --font-gridSubTitle-line-height: calc(24 / 18);
  --font-gridTitle-size: calc(26 / var(--base-unit) * 1rem);
  --font-gridTitle-line-height: calc(32 / 26);

  --font-headlineBg-size: calc(153 / var(--base-unit) * 1rem);
  --font-headlineBg-line-height: calc(158 / 153);
  --font-headline-size: calc(76 / var(--base-unit) * 1rem);
  --font-headline-line-height: calc(80 / 76);

  --font-primary: p22-underground, sans-serif;
  --font-secondary: itc-avant-garde-gothic-pro, sans-serif;
}

/*
 * Statically sized elements
 */

.headline {
  font-size: var(--font-headline-size);
  line-height: var(--font-headline-line-height);
  font-family: var(--font-secondary);
  color: #ae8b50;
  font-weight: 500;
  position: relative;
  height: 154px;
  vertical-align: middle;
  z-index: 2;
  margin-bottom: 12px;
  @nest & .heading {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    position: absolute;
    top: 72%;
    transform: translateY(-50%);
    z-index: 2;
  }
  @nest & a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    position: absolute;
    top: 72%;
    transform: translateY(-50%);
    z-index: 2;
  }
  @media (--media-max-medium) {
    font-size: 32px;
    height: auto;
    padding-bottom: 40px;
  }
}

.headlineBg {
  font-size: var(--font-headlineBg-size);
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(222, 222, 222, 0.1);
  position: relative;
  &:after {
    content:'';
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(28, 33, 39, 0.2) -7%, #1c2127 86%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }
  @media (--media-min-large) {
    background-attachment: fixed;
  }
  @media (--media-max-medium) {
    font-size: 55px;
    letter-spacing: 0;
  }
}

.headlineBg2 {
  font-size: var(--font-headlineBg-size);
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(222, 222, 222, 0.1);
  position: relative;
  &:after {
    content:'';
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(34, 41, 50, 0.35) -7%, #222932 83%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-attachment: fixed;
  }
  @media (--media-max-medium) {
    font-size: 55px;
    letter-spacing: 0;
  }
}

.headline2 {
  font-size: var(--font-headline2-size);
  line-height: var(--font-headline2-line-height);
  font-family: var(--font-primary);
  font-weight: 600;
  color: #dedede;
  margin-bottom: 20px;
  @media (--media-max-medium) {
    font-size: 28px;
  }
}

.gridTitle {
  font-size: var(--font-gridTitle-size);
  line-height: var(--font-gridTitle-line-height);
  font-family: var(--font-primary);
  font-weight: 600;
  color: #dedede;
  margin: 14px 0 3px;
}

.gridSubTitle {
  font-size: var(--font-gridSubTitle-size);
  line-height: var(--font-gridSubTitle-line-height);
  font-family: var(--font-secondary);
  font-weight: 300;
  color: #ae8b50;
  margin-bottom: 20px;
}

.large {
  font-size: var(--font-headline-size);
  line-height: var(--font-headline-line-height);
  font-family: var(--font-secondary);
  color: #ae8b50;
  font-weight: 500;
  position: relative;
  height: 154px;
  vertical-align: middle;
  z-index: 2;
  @nest & a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    position: absolute;
    top: 72%;
    transform: translateY(-50%);
    z-index: 2;
  }
}

.base {
  font-size: inherit;
  line-height: inherit;
}

.small {
  font-size: var(--font-gridTitle-size);
  line-height: var(--font-gridTitle-line-height);
  font-family: var(--font-primary);
  font-weight: 600;
  color: #dedede;
  margin: 14px 0 3px;
}

.micro {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: 0.5rem 0 1rem 0;
  color: #dedede;
  font-family: var(--font-primary);

  @nest & a {
    color: #ca9b46;
    border-bottom: 1px solid #ca9b46;
    text-decoration: none;
    margin-left: 6px;
  }
}



/*
 * Responsively sized elements
 */

.paragraph {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: 0.5rem 0 1rem 0;
  color: #dedede;
  font-family: var(--font-primary);

  @nest & a {
    color: #ca9b46;
    border-bottom: 1px solid #ca9b46;
    text-decoration: none;
    margin-left: 6px;
  }
}



